{% extends 'main.html' %}

{% block content %}
<center>
    <hr>
    <h2>Login Here</h2>

    {% if status %}
       <h2 style="color: red;">Entered wrong Credentials, Please try again!!</h2>
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}

        <label for="">Username</label>
        <input type="text" name="username"><br>

        <label for="">Password</label>
        <input type="password" name="password"><br>

        <input type="submit">


    </form>

</center>
{% endblock content %}