{% extends "main.html" %}
{% block content %}
<h1>Reset Password</h1>
<form method="POST">
    {% csrf_token %}
    <label>Username</label><br>
    <input name="username"><br>
    <label>Email</label><br>
    <input type="email" name="email"><br>
    <label>New password</label><br>
    <input type="password" name="password"><br>
    <label>Confirm password</label><br>
    <input type="password" name="confirm_password"><br>
    <button type="submit">Reset</button>
</form>
{% endblock %}
